* {
	margin: 0;
	padding: 0;
}

body {
	color: #7f7f7f;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	margin: 0% 0%;
}

.logo {
	font-family: 'Lobster', cursive;
	color: #990000;
	font-size: 20px;
	text-decoration: none;
	padding: 2%;
	float: left;
}

.nav input {
	border: none;
	background: transparent;
	margin: 10px;
	float: right;
	color: #7f7f7f;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

.nav ul {
	margin-right: 10px;
}

.nav ul li {
	list-style: none;
	display: flex;
	float: right;
	margin: 10px;
	font-size: 15px;
}

.nav ul li a {
	margin: 10px;
	float: right;
	text-decoration: none;
	color: #7f7f7f;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

.nav ul li a:visited {
	margin: 10px;
	float: right;
	text-decoration: none;
	color: #7f7f7f;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

.header {
	overflow: hidden;
	border-bottom: 1px solid Gainsboro;
}

.header p {
	float: left;
	font-size: 15px;
}

.nav {
	display: grid;
	grid-template-columns: 70px auto auto;
	align-items: center;
	height: 70px;
	margin-left: 20px;
}

.round-corner {
	width: 97%;
	padding: 1.5%;
	border-radius: 40px;
}

.choosing {
	overflow: hidden;
	padding-left: 3%;
	display: grid;
	grid-template-columns: 80px 50% auto auto;
}

.modifyButton {
	background: #990000;
	color: white;
	height: 40px;
	width: 60px;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 8px;
	cursor: pointer;
	margin-left: 10%;
}

.choosing select {
	width: 80px;
	height: 30px
}

.choosing input {
	height: 30px;
	border: 1px solid Gainsboro;
	border-radius: 4px;
}

.choosing table {
	border: none;
	width: 200px;
	margin-left: 10%;
}

.choosing table input {
	border: 0px;
	width: 10px;
	float: left;
	clear: none;
	margin: auto auto auto auto;
}

.choosing table label {
	float: left;
	clear: none;
	display: block;
	margin: 10px auto auto 5px;
}

.errorBar {
	text-align: center;
	height: 50px;
	background: pink;
}

.errorBar p {
	position: relative;
	padding-top: 15px;
}

.account {
	padding-top: 30px;
}

.title {
	font-size: 25px;
	font-weight: 900;
}

.account table {
	border-spacing: 20px;
	width: 80%;
	margin-left: 10%;
}

.account table td {
	width: 40%;
}

.userInput {
	border: 1px solid Gainsboro;
	border-radius: 4px;
	width: 500px;
	margin-top: 5px;
	height: 20px;
}

.accountButton {
	height: 40px;
	width: 500px;
	color: white;
	background: #990000;
	border: none;
	font-size: 15px;
	cursor: pointer;
	border-radius: 5px;
}

.Result a {
	font-size: 14px;
}

.Result hr {
	border: 0.5px solid Gainsboro;
	width: 90%;
	margin-left: 2%;
}

.Result table {
	margin-left: 6%;
}

.Result table  td {
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.Result table img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 12px;
}

.Yelp {
	text-decoration: none;
	color: #7f7f7f;
}

.Yelp:visited {
	text-decoration: none;
	color: #7f7f7f;
}

.searchTitle h1 {
	padding-left: 2%;
	font-weight: bold;
}

/* TODO */