@charset "UTF-8";


body {
	font-family: 'Inter', sans-serif;
}

#sidebar .sidebar-header {
    font-family: 'Handjet', sans-serif;
    padding: 20px;
    font-style: normal;
	font-weight: 400;
	font-size: 50px;
	line-height: 54px;
	text-align: center;
	width: 100%
}

#sidebar .sidebar-header .d-flex {
	
	justify-content: center;
}

#sidebar {
    background: #1C658C;
    color: white;
}

#sidebar a {
    color:white;
}

#sidebar ul li {
	border-top: 1px solid white;
}

#sidebar ul li a {
    width: 100%;
	line-height: 80px;
    padding: 10px;
    font-style: normal;
	font-weight: 700;
	font-size: 26px;
	display: block;
	align-items: center;
	text-align: center;
}

#sidebar ul li a:hover {
	background: #3C81A6
}

#sidebarContent {
	width:100%;
	padding-bottom: 20px;
}

#menu {
	width:100%;
}

#menu li {
	width:100%;
}

.divide {
    border: 1px solid #1C658C;
	position:absolute;
	width:100%;
   top: 50%;
}

.userInfo {
	align-items: center;
	bottom: 20px;
}

#user {
	text-align: center;
}

#user #icon {
	font-weight: 400;
	font-size: 30px;
}

#user #name {
	font-size: 20px;
}

#user #email {
	font-size: 15px;
	font-weight: 300
}
